<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>TechLearnApplication</title>
</head>
    <body>
        <h1>WELCOME TO TECHLEARN</h1>
        <h3>INDIA'S LARGEST E-LEARNING PLATFORM</h3>
        <p>TechLearn.Inc is an Indian massive open online course provider founded in 2021 by Mohit, Divyansh, Rohit, Soumik, Sayan, Taranjeet and Piyush.</p>
        <th:block th:text="'Hello.....' + ${name}">name</th:block>
        <p>The courses available are as follows : </p>
        <table border="1">
            <tr>
                <th>Sr. No.</th>
                <th>Course ID</th>
                <th>Capacity</th>
                <th>Course Duration</th>
                <th>Course Name</th>
                <th>Fees</th>
                <th>Instructor</th>
            </tr>
            <tr>
                <td>1</td>
                <td>101</td>
                <td>5</td>
                <td>60</td>
                <td>Machine Learning</td>
                <td>10000</td>
                <td>Sayan</td>
            </tr>
            <tr>
                <td>2</td>
                <td>102</td>
                <td>6</td>
                <td>30</td>
                <td>Internet Of Things</td>
                <td>20000</td>
                <td>Mohit</td>
            </tr>
            <tr>
                <td>3</td>
                <td>103</td>
                <td>1</td>
                <td>40</td>
                <td>Java Leaning</td>
                <td>9000</td>
                <td>Taranjeet</td>
            </tr>
            <tr>
                <td>4</td>
                <td>104</td>
                <td>5</td>
                <td>60</td>
                <td>Python</td>
                <td>11000</td>
                <td>Rohit</td>
            </tr>
            <tr>
                <td>5</td>
                <td>105</td>
                <td>5</td>
                <td>60</td>
                <td>Cloud Computing</td>
                <td>9500</td>
                <td>Piyush</td>
            </tr>
            <tr>
                <td>6</td>
                <td>106</td>
                <td>2</td>
                <td>60</td>
                <td>SQL Database</td>
                <td>8900</td>
                <td>Divyansh</td>
            </tr>
            <tr>
                <td>7</td>
                <td>107</td>
                <td>8</td>
                <td>60</td>
                <td>Advance php</td>
                <td>12000</td>
                <td>Soumik</td>
            </tr>
        </table>
    </body>
</html>